.header__logo {
  width: 142px;
  height: 33px;
  margin: 0 0 41px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 8.5%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 32.5vw;
    max-height: 7.625vw;
    margin-bottom: 10%;
    padding: 0;
  }
}
