.gallary__like {
  min-width: 22px;
  min-height: 19px;
  margin: 0;
  border: none;
  background: url(../../../images/icons/like_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.4s;
}

.gallary__like:hover {
  opacity: 0.5;
}
